<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="style.css">
  </head>
  <body>


</body>
</html>
    
    <h1>CREEAT CLASS</h1>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
       
    </form>
  </div>
</div>
</nav>
<dev>
</div>

</form>
<form id="register"class="input-group"></form>
    <input type="text" class="input-field" placeholder="section"required>
<form id="register"class="input-group"></form>
    <input type="text" class="input-field" placeholder="Subject"required>
<form id="register"class="input-group"></form>
    <input type="text" class="input-field" placeholder="Room"required>
<form id="login" class="input-group">
    <input type="text" class="input-field" placeholder="class name"required>
    <button type="submit" class="submit-btn">Creat </button>
    <button type="submit" class="submit-btn">Cancle  </button>

    <form id="login" class="input-group">
    <a href="/home">click</a>
    
</form>