<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="style.css">
  </head>
  <body>

</body>
</html>
    
    <h1>Classroom!</h1>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
       
            </form>
          </div>
        </div>
      </nav>
      <dev>
        <a style="width: 400px; 
        height: 400px;
        background: rgb(192, 192, 192);
        border-radius: 15px;
        box-shadow: 0 10px 30px rgba(0,0,0,3); 
        align-items: center;"> CLASS</a>
       <a href="file:///C:/Users/Admin/OneDrive/Desktop/project1/views/Home2.html">CLASS</a>
        <br>
        <a style="width: 400px; 
        height: 400px;
        background: rgb(192, 192, 192);
        border-radius: 15px;
        box-shadow: 0 10px 30px rgba(0,0,0,3); 
        align-items: center;">CHECK IN CLASS</a>
        <a href="file:///C:/Users/Admin/OneDrive/Desktop/project1/views/Home3.html">CHECK IN CLASS</a>
        <style>
          a:hover {
            border: 1px solid black;
            padding: 5px;
            background: rgb(192, 192, 192);
            border-radius: 15px;
             box-shadow: 0 10px 30px rgba(0,0,0,3); 
          }
        </style>
        
        <br>
        <a style="width: 400px; 
        height: 400px;
        background: rgb(192, 192, 192);
        border-radius: 15px;
        box-shadow: 0 10px 30px rgba(0,0,0,3); 
        align-items: center;">TO DO LIST</a>
        <a href="file:///C:/Users/Admin/OneDrive/Desktop/project1/views/Home4.html">TO DO LIST</a>
        <br>

      </dev>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>